<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
      <div class="d-flex gap-4 flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/dashboard" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none fw-bold fs-2">
        Pixel Pad
        </a>

        <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search" method="POST" action="/dashboard/search">
            <input type="search" name="searchTerm" class="form-control border-primary" placeholder="Search ....." aria-label="Search">
        </form>

        <div class="text-end">
          <a href="/logout" type="button" class="btn btn-outline-light me-2">Logout</a>
        </div>
      </div>
    </div>
  </header>