:root{
    --bg-color: rgb(223, 175, 46);
    --bs-primary-rgb: black;
}

body{
    font-family: 'Poopins', sans-serif;
    background-color: var(--bg-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    background-image: url('../img/noise.png');
}

h1,h2,h3,h4,h5.h6{
    font-family: 'Unbounded', cursive;
    font-weight: 700;
}

.container-fluid-custom{
    max-width: 1600px;
}

.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}

@media(min-width: 1200px){
    .home{
        background: url('../img/human-1') left bottom no repeat,;
    }
}

.home-title::before{
    content: url('../img/stars.svg');
    position: absolute;
    left: -50px;
    top: -30px;
}

.home-title::after{
    content: url('../img/stars.svg');
    position: absolute;
    right: -50px;
    bottom: -30px;
}